.maincard{
    display: flex;
    background-color: #1f2937;
    padding: 10px;
    border-radius: 15px;
}

.image{
    width: 260px;
    height: 380px;
}

@media (max-width: 460px) {
    .manga{
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }

    .image{
        width: 130px;
        height: 190px;
    }
  }